Repository xorq-labs/xorq, pull requests merged in 2025-04, with the labels that each got.

#829 feat: add normalization GCS path
  .github/workflows/ci-test-gcs.yml
  pyproject.toml
  python/xorq/common/utils/dask_normalize/dask_normalize_expr.py
  python/xorq/common/utils/gcloud_utils.py
  python/xorq/tests/conftest.py
  python/xorq/tests/test_api.py
  python/xorq/tests/test_register.py
Labels: ci-test-s3, ci-test-gcs

#840 fix(gcloud_utils): prevent optional dependency leakage
  python/xorq/common/utils/dask_normalize/dask_normalize_expr.py
Labels: ci-test-gcs

#839 ref(gcloud_utils): use gcs built in uri ctor
  python/xorq/common/utils/gcloud_utils.py
Labels: ci-test-gcs

#834 feat: add read_record_batches to Snowflake Backend
  .github/workflows/ci-test-snowflake.yml
  pyproject.toml
  python/xorq/backends/snowflake/__init__.py
  python/xorq/backends/snowflake/tests/conftest.py
  python/xorq/backends/snowflake/tests/test_cache.py
  python/xorq/common/utils/snowflake_utils.py
  python/xorq/vendor/ibis/backends/snowflake/__init__.py
  requirements-dev.txt
  uv.lock
Labels: ci-test-snowflake

#871 feat: add normalization for s3 and gcs objects
  python/xorq/backends/let/datafusion/__init__.py
  python/xorq/common/utils/dask_normalize/dask_normalize_expr.py
  python/xorq/common/utils/io_utils.py
  python/xorq/common/utils/tests/test_io_utils.py
  python/xorq/expr/api.py
  python/xorq/tests/test_register.py
  requirements-dev.txt
  src/context.rs
  uv.lock
Labels: ci-test-gcs
